.chat-main
  .chat-main__group-info
    .chat-main__group-info__left 
      s
      .chat-main__group-info__left__under aa
    
    =link_to "#",class: "chat-main__group-info__right" do
      Edit
  .chat-main__message-list
    .chat-main__message-list__one
      .chat-main__message-list__one--name
        masa
      .chat-main__message-list__one--time
        2019/11/20
      .chat-main__message-list__one--content
        おはよう
    .chat-main__message-list__one
      .chat-main__message-list__one--name
        masa
      .chat-main__message-list__one--time
        2019/11/20
      .chat-main__message-list__one--content
        おおおおおおおおおおおおおおおおおおおおおおおおおおおお
  .chat-main__message-form
    .chat-main__message-form__new
      .chat-main__message-form__new--text
        .chat-main__message-form__new--text--core 
          ddd
        .chat-main__message-form__new--text--btn
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file"}
      .chat-main__message-form__new--submit Send
   
    